.navbar {
	border-radius:0;
	font-family: "Helvetica Neue", Helvetica;
  	font-weight: 200;
  	box-shadow: 0px 1px 3px #2a2a2a;
  	background:url('use_your_illusion.png');
}

.navbar-inverse a.navbar-brand {
	font-family: "Helvetica Neue", Helvetica;
  	font-weight: 100;
  	color: white;
}

.hero {
	background: url('hero.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 350px;
	box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, .navbar {
	margin: 0;
	color:white
}

.frosty {
	background:rgba(0,0,0,0.5);
	color:white;
}

.frosty h1 {
	font-family: "Helvetica Neue", Helvetica;
  	font-weight: 100;
  	}

.frosty h2 {
	font-family: "Helvetica Neue", Helvetica;
  	font-weight: 200;
  	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4); 
}

.btn {
	border-radius:0;
}

body {
	background:url('escheresque_ste.png');
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.features {
	color:white;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
  color:#383433;
}

.boohay-box h2 .booyah-box h1 {
	margin:10px;
}

.clr {
  clear:both;
}

.Site {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}